.frame{
  position: relative;
  margin: auto;
  width: 130%;
  height:500px;
  left:-15%;
  top:12%;
  opacity: 1;
}
.map{
  background-image:url("../img/main/map.png");
  background-repeat: no-repeat;
  background-size: 150%;
  position: absolute;
  left:0;
  top:0;
  width: 50%;
  margin:0;
  height:100%;
}
.contactFrame{
  position: absolute;
  margin: 0;
  width: 50%;
  height:100%;
  background-color: black;
  top:0;
  left:50%;
  opacity: 0.5;
}
.companyIntro{
  position: absolute;
  color:white;
  width:80%;
  left:14.5%;
  font-family: sans-serif;
  top:31%;
  font-size: 100%;
  text-align:justify;
}
.companyTitle{
  position: absolute;
  color:white;
  width:70%;
  left:43%;
  font-family: sans-serif;
  top:13%;
  font-size: 48px ;
}
