.example{
  width: 4100px;
  height:500px;
  left:0;
  top:10%;
  position: absolute;
  vertical-align: top;
  overflow-y:hidden;
  padding-left: 470px;
}
.exampleInstance{
  position: relative;
  width: 800px;
  height:500px;
  margin-right: 20px;
  background-color: #292929;
  float: left;
  opacity: 0.65;
}
.exampleStyle{
  top:0px;
  width: 800px;
  height:auto;
}
.exampleIntro{
  width: 4100px;
  height:110px;
  left:470px;
  top:40%;
  position: absolute;
  vertical-align: top;
  overflow-y: hidden;
}
.exampleIntroInstance{
  position: relative;
  width: 800px;
  height:110px;
  margin-right: 20px;
  float: left;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.4em;
  padding-top: 10px;
  font-weight: bold;
  color:white;
  opacity: 1;
}
.exampleTitle{
  font-family: sans-serif;
  position: absolute;
  top:38%;
  left:220px;
  font-size: 3em;
  color:white;
  font-weight: bold;
}
.exampleDetail{
  position: fixed;
  width:1000px;
  height:50%;
  left:465px;
  top:700px;
  opacity: 0;
  visibility:hidden;
}
.detailTitle{
  font-family: sans-serif;
  color:white;
  font-size: 3em;
}
.detailContent{
  font-family: sans-serif;
  color:white;
  font-size: 1.5em;
}
.right{
  background-image: url("../img/examples/right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position:fixed;
  //background-color: black;
  width:50px;
  height:85px;
  left:95%;
  top:27%;
  opacity: 0.5;
}
.left{
  background-image: url("../img/examples/left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position:fixed;
  //background-color: black;
  width:50px;
  height:85px;
  left:2%;
  top:27%;
  opacity: 0;
}
