div.login{
  position:relative;
  top:130px;
  left:0px;
  width: 100%;
  height:500px;
  margin-left: 0px;
  min-width: 1024;
  margin-top: -8px;
  color:white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  opacity:0.4;
}
.loginForm{
  margin-right: 350px;
  background-image: url("../img/login/input_background.png");
  background-size:contain;
  background-color: transparent;
  top:0;
  left:0;
  margin-left: 15px;
  margin-bottom: 30px;
  font-family: sans-serif;
  font-size: 1.2em;
  border: 0;
  top:150px;
  resize: none;
  color:white;
}
.loginForm:focus{
  outline-width: 0;
}
.loginbutton{
  border: 0;
  background-image: url("../img/login/buttonImage.png");
  background-size:100%;
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 1.0em;
  height:37px;
  width:130px;
  margin-right: 460px;
  margin-top: 30px;
}
.loginbutton:hover{
  background-image: url("../img/login/buttonImageHover.png");
}
