body.general{
  height:1000px;
  margin: auto;
  min-width: 1024px;
  width:900px;
}
div.welcome{
  position:relative;
  background-image: url("../img/main/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  top:0px;
  left:0px;
  width: 100%;
  height:700px;
  margin:auto;
  margin-left: 0px;
  min-width: 1024;
  margin-top: -8px;
}
div.header{
  background-image: url("../img/main/bar.png");
  position:fixed;
  top:0px;
  left:0px;
  width: 100.6%;
  height:50px;
  min-width: 1024;
  margin:auto;
  margin-left: -8px;
  margin-top: 20px;
}
div.logo{
  position:absolute;
  top:0;
  left:0;
  height:50px;
  width:130px;
  margin:auto;
}
p.icon{
  color:white;
  font-family: sans-serif;
  font-size: 1.7em;
  top:-5px;
  margin-left: 30px;
  margin-top: -5px;
}
div.menu{
  position:absolute;
  top:0;
  left:130px;
  height:50px;
  width:100%;
  min-width: 500px;

}
a.title{
  color: white;
  font-family: sans-serif;
  position: relative;
  top:18px;
  text-decoration: none;
  margin:auto;
  float: right;
}
a.title:hover{
  color:#ff2400;
}
a.user_behave{
  color: white;
  font-family: sans-serif;
  position: relative;
  margin:auto;
  top:50px;
  text-decoration: none;
}
a.user_behave:hover{
  color:#ff2400;
}
div.bottom{
  height:150px;
  position:relative;
  bottom:0px;
  background-color: #292929;
  width: 100%;
  min-width: 1024;
  margin:0;
}
p.address{
  color:white;
  position: relative;
  margin:auto;
  font-family: sans-serif;
  text-align: center;
  top:70px;
  font-size: 0.7em;
}
