body.general{
  height:1000px;
  margin: auto;
  min-width: 1024px;
  width:40%;
  background-color: black;
}
div.texture{
  width: 100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  background-image: url("../img/main/break.jpg");
  background-repeat:no-repeat;
  background-size: 100%;
  opacity: 0.7;
  min-width: 1024px;
  margin: auto;
}
div.cover{
  width: 100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  background-color: black;
  opacity: 0.85;
}
.coverTitle{
  position: relative;
  left:30px;
  top:-35%;
  margin:0;
  color:white;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}
div.welcome{
  position:relative;
  background-image: url("../img/main/welcometrans.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top:5%;
  left:0px;
  width: 100%;
  height:700px;
  margin:auto;
  margin-left: 0px;
  min-width: 1024px;
  margin-top: -8px;
  opacity: 0.5;
}
div.trans2{
  background-color:black;
  position: fixed;
  width:200px;
  height:200px;
  left:25px;
  opacity: 0.9;
}
div.trans3{
  background-color:black;
  position: fixed;
  width:100px;
  height:100px;
  left:225px;
  top:595px;
  opacity: 0.9;
}
div.trans4{
  background-color:black;
  position: fixed;
  width:50px;
  height:50px;
  left:285px;
  top:995px;
  opacity: 0.9;
}
div.trans5{
  background-color:black;
  position: relative;
  float: right;
  width:70px;
  height:70px;
  top:-400px;
  left:650px;
  opacity: 0.9;
}
div.header{
  //background-image: url("../img/main/bar.png");
  position:fixed;
  top:0px;
  left:0px;
  width: 100.6%;
  height:50px;
  min-width: 1024;
  margin:auto;
  margin-left: -8px;
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: bolder;
}
div.logo{
  position:absolute;
  top:0;
  left:0;
  height:50px;
  width:130px;
  margin:auto;
}
p.icon{
  color:white;
  font-family: sans-serif;
  font-size: 1.65em;
  top:-5px;
  margin-left: 30px;
  margin-top: -5px;
}
div.menu{
  position:absolute;
  top:0;
  left:130px;
  height:50px;
  width:100%;
  min-width: 500px;
}
.welcomeLetter{
  position: relative;
  margin: auto;
  top:270px;
  color:white;
  font-family: sans-serif;
  font-size: 2.5em;

}
a.title{
  color: white;
  font-family: sans-serif;
  position: relative;
  top:18px;
  text-decoration: none;
  margin:auto;
  float: right;
  opacity: 0.5;
}

a.title:hover{
  color:#a58b72;
}

a.user_behave{
  color: white;
  font-family: sans-serif;
  position: relative;
  margin:auto;
  top:50px;
  text-decoration: none;
}
a.user_behave:hover{
  color:#a58b72;
}
p.user_behave{
  color: white;
  font-family: sans-serif;
  position: relative;
  margin:0;
  top:50px;
  left:46px;
}
.logout{
  color: white;
  font-family: sans-serif;
  position: relative;
  margin:auto;
  top:65px;
  left:0px;
  text-decoration: none;
}
.logout:hover{
  color:#a58b72;
}
div.bottom{
  height:150px;
  position:fixed;
  bottom:0px;
  margin:auto;
  background-color: black;
  width: 100%;
  min-width: 1024;
  margin:0;
  left:0px;
  opacity: 0.95;
}
p.address{
  color:white;
  position: relative;
  margin:auto;
  font-family: sans-serif;
  text-align: center;
  top:70px;
  font-size: 0.7em;
}
div.designerSection{
  position:relative;
  width:70%;
  margin:auto;
  padding-bottom: 50px;

}
div.portfolio{
  height: 500px;
  width: 100%;
  position:relative;
  margin-top: 80px;
  font-family: sans-serif;
  opacity: 0.5;

}
div.introDesigner{

  position:relative;
  float: right;
  width: 60%;
  height:100%;
  font-family: sans-serif;
  left:30px;
  top:30px;
  margin:0;
}
div.photoDesigner{
  position: relative;
  float:left;
  width: 40%;
  margin:0;
  height: 100%;
}
.imageStyle{
  position: absolute;
  overflow: hidden;
  margin:0;
  left:-28px;
  top:85px;
}
.designerName{
  position:relative;
  top:100px;
  color:#a7adc0;
}
.designerPosition{
  position:relative;
  top:105px;
  color:white;
}
.designerIntro{
  position:relative;
  top:110px;
  color:white;
}

.example{
  width: 410.5%;
  height:500px;
  left:-300px;
  top:30%;
  position: relative;
  vertical-align: top;
  overflow-y: hidden;

}
.exampleInstance{
  position: relative;
  width: 800px;
  height:500px;
  margin-right: 20px;
  background-color: #292929;
  float: left;
  opacity: 0.65;
}
.exampleStyle{
  top:0px;
  width: 800px;
  height:auto;
}
.exampleIntro{
  width: 410.5%;
  height:110px;
  left:-300px;
  top:-10px;
  position: relative;
  vertical-align: top;
  overflow-y: hidden;
}

.exampleIntroInstance{
  position: relative;
  width: 800px;
  height:110px;
  margin-right: 20px;
  float: left;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.4em;
  padding-top: 10px;
  font-weight: bold;
  color:white;
  opacity: 1;

}
.exampleTitle{
  font-family: sans-serif;
  position: absolute;
  top:450px;
  left:190px;
  font-size: 3em;
  color:white;
  font-weight: bold;
}

.map{
  position: relative;
  margin: 0;
  width: 900px;
  height:700px;
  background-image:url("../img/main/map.png");
  background-size: 150%;
  background-repeat: no-repeat;
  top:250px;
  left:-500px;
  opacity: 0.5;

}
.contactFrame{
  position: relative;
  margin: 0;
  width: 900px;
  height:700px;
  background-color: black;
  top:0;
  left:900px;
  opacity: 0.5;

}
.companyIntro{
  position: relative;
  color:white;
  width:70%;
  left:200px;
  font-family: sans-serif;
  top:240px;
  font-size: 1.2em;
  text-align:justify;
}
.companyTitle{
  position: relative;
  color:white;
  width:70%;
  left:315px;
  font-family: sans-serif;
  top:220px;
  font-size: 3em;
}
