body.general{
  height:1000px;
  margin: auto;
  min-width: 1024px;
  width:900px;
}
div.login{
  position:relative;
  top:130px;
  left:0px;
  width: 100%;
  height:500px;
  margin:auto;
  margin-left: 0px;
  min-width: 1024;
  margin-top: -8px;
}
div.header{
  background-image: url("../img/main/bar.png");
  position:fixed;
  top:0px;
  left:0px;
  width: 100.6%;
  height:50px;
  min-width: 1024;
  margin:auto;
  margin-left: -8px;
  margin-top: 20px;
}
div.logo{
  position:absolute;
  top:0;
  left:0;
  height:50px;
  width:130px;
  margin:auto;
}
p.icon{
  color:white;
  font-family: sans-serif;
  font-size: 1.65em;
  top:-5px;
  margin-left: 30px;
  margin-top: -5px;
}
div.menu{
  position:absolute;
  top:0;
  left:130px;
  height:50px;
  width:100%;
  min-width: 500px;

}
a.title{
  color: white;
  font-family: sans-serif;
  position: relative;
  top:18px;
  text-decoration: none;
  margin:auto;
  float: right;
}
a.title:hover{
  color:#ff2400;
}
.loginForm{
  margin-right: 350px;
  background-image: url("../img/login/input_background.png");
  background-size:contain;
  background-color: transparent;
  top:0;
  left:0;
  margin-left: 15px;
  margin-bottom: 30px;
  font-family: sans-serif;
  color:#ff2400;
  font-size: 1.2em;
  border: 0;
  top:150px;
  resize: none;
}
.loginForm:focus{
  outline-width: 0;
}
.loginbutton{
  border: 0;
  background-image: url("../img/login/buttonImage.png");
  background-size:100%;
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 1.0em;
  height:37px;
  width:130px;
  margin-right: 460px;
  margin-top: 30px;
}
.loginbutton:hover{
  background-image: url("../img/login/buttonImageHover.png");
}
